<!DOCTYPE html>
<html>
  <head>
    <title>BrandingTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
    h1{
      text-align: center;
      margin-top: -2px;
    }
    h2{  text-align: center;}
    #banner{
      width: 100%;
      object-fit:cover;
    }
    #company{
      width: 100%;
      object-fit:cover;
    }
    </style>
  </head>

  
  <body>
    {% include 'nav.html' %}
    {% include 'slides.html' %}
    <div class="container">  
      <h1 class=" m -auto"> <img src="https://personal-web2-python-1--brandingtechmy.repl.co/static/logo.gif" width="120" height="120"alt="BrandingTch">
        <br>BrandingTech</br>
      </h1> 
      <div>
        <img class="img-fluid" id="banner" src="https://personal-web2-python-1--brandingtechmy.repl.co/static/banner.jpeg">
      </div>
      <h2 class="m-3">About US</h2>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
          <P class="lead"> At <strong>BrandingTech</strong>, we're not just another marketing and technology company. We are the architects of your brand's success, the storytellers of your vision, and the innovators of your digital future. We offer a full spectrum of services designed to elevate your brand, engage your audience, and drive results.
          </P> 
        </div>
        <div class="d-none d-md-block col-md-6">
          <img class="img-fluid" id="company" src="https://personal-web2-python-1--brandingtechmy.repl.co/static/company.jpeg">
        </div>
      </div> 
      <h2 style= "color:rgb(255,0,0)"class="mt-2 mb-2 ">Services</h2>
      <p>
        {%for data in data %}
          {% include 'dataitem.html' %}
        {% endfor %}
      </p>
      {% include 'footer.html' %}
    </div> 
  </body>  
</html>